{%extends "template.html"%}

{% block content %}
<link href="{{url_for('static', filename='homepage.css')}}" rel="stylesheet">
<div class="content">
	<div id="side-bar" class="flex-container">
		<div>
			<p class="button" data-url="/homepage" {% block homepagestatus%}{% endblock %}>
				<a href="{{ url_for('homepage') }}">Home</a>
			</p>
			<hr>
			<p class="button" data-url="/mijntikkies" {% block mijntikkiesstatus%}{% endblock %}>
				<a href="{{ url_for('mijntikkies') }}">Mijn tikkies</a>
			</p>			
			<hr>
			<p class="button" data-url="/tikkietoevoegen" {% block tikkietoevoegenstatus%}{% endblock %}>
				<a href="{{ url_for('tikkietoevoegen') }}">Toevoegen</a>
			</p>
			<hr>
			<p class="button" data-url="/alletikkies" {% block alletikkiesstatus%}{% endblock %}>
				<a href="{{ url_for('alletikkies') }}">Alle tikkies</a>
			</p>
			<hr>
			<p class="button" data-url="/mijngegevens" {% block mijngegevensstatus%}{% endblock %}>
				<a href="{{ url_for('mijngegevens') }}">Gegevens</a>
			</p>
			<hr>
			<p class="button" data-url="/hallofshame" {% block hallofshamestatus%}{% endblock %}>
				<a href="{{ url_for('hallofshame') }}">Hall of shame</a>
			</p>
			<hr>
			<p class="button" data-url="/loguit">
				<a href="{{ url_for('loguit') }}">Log uit</a>
			</p>
		</div>
	</div>
	{% block blokken%}

	{% endblock blokken %}
</div>
<script type="text/javascript">
	$(".button").click(function(){
		window.location.href = $(this).data("url");
	})
</script>
{% endblock content %}