{%extends "blocks.html"%}
{% block title %}
Mijn gegevens
{% endblock title %}
{% block hallofshamestatus %}
id="current"
{% endblock hallofshamestatus %}

{% block blokken%}
	<div class="flex-container" id="tikkies">
		{% with messages = get_flashed_messages() %}
		  	{% if messages %}
		  		{% for msg in messages %}
			  		<div class="tikkieblok msg">
						<div class="tikkieinfo">
							<p class="msg">{{ msg }}</p>
						</div>
					</div>
		  		{% endfor %}
		  	{% endif %}
		{% endwith %}
		<div class="tikkieblok">
			<div class="tikkieinfo">
				<p>Er is nog geen hall of shame :-(, maar er word hard aan gewerkt!</p>
		</div>
{% endblock blokken %}