{%extends "template.html"%}

{% block title %}
Login
{% endblock title%}

{% block link %}
<link href="{{url_for('static', filename='login.css')}}" rel="stylesheet">
{% endblock link %}

{% block content %}
<center>
{% with messages = get_flashed_messages() %}
  	{% if messages %}
  		{% for msg in messages %}
	  		<div class="tikkieblok msg">
				<div class="tikkieinfo">
					<p class="msg">{{ msg }}</p>
				</div>
			</div>
  		{% endfor %}
  	{% endif %}
{% endwith %}

<form action="#" method="post">
	<p class="label">Naam</p>
	<p><input class="input" type="text" name="name"/></p>
	<p class="label">Wachtwoord</p>
	<p><input class="input" type="password" name="pw"/></p>
	<p><input class="input button" type="submit" value="Log in"/></p>
</form>

</center>
<script type="text/javascript">
	setTimeout(function(){ 
		$(".msg").slideUp()
    }, 5000);
</script>
{% endblock content %}