{%extends "blocks.html"%}
{% block title %}
Mijn tikkies
{% endblock title %}
{% block mijntikkiesstatus %}
id="current"
{% endblock mijntikkiesstatus %}

{% block blokken%}
	<div class="flex-container" id="tikkies">
		{% with messages = get_flashed_messages() %}
		  	{% if messages %}
		  		{% for msg in messages %}
		  			<div class="tikkieblok msg">
						<div class="tikkieinfo">
							<p>{{ msg }}</p>
						</div>
					</div>
		  		{% endfor %}
		  	{% endif %}
		{% endwith %}
		{% if tikkies %}
		{% for tikkie in tikkies %}
		<div class="tikkieblok">
			<div class="tikkieinfo">
				<p><strong>Naam: </strong>{{ tikkie.creator }}</p>
				<p><strong>Omschrijving: </strong>{{ tikkie.description }}</p>
				<p><strong>Bedrag: </strong>€{{ tikkie.amount }}</p>
				<p><strong>Betaald: </strong>{% for name in tikkie.paid %} {{ name }} {% endfor %}</p>
				<p><strong>Niet betaald: </strong>{% for name in tikkie.unpaid %} {{ name }} {% endfor %}</p>
				<p><strong>Datum: </strong>{{ tikkie.date }}</p>
				<p><button class="paybutton edit" data-tikkieid="{{tikkie.id}}">Aanpassen</button>    <button class="paybutton delete" data-tikkieid="{{tikkie.id}}">Verwijderen</button></p>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="tikkieblok">
			<div class="tikkieinfo">
				<p><strong>Je hebt momenteel geen openstaande tikkies.</strong></p>
			</div">
		</div>
		{% endif %}
	</div>
	<script type="text/javascript">
	$(".delete").click(function(){
		let id = $(this).data("tikkieid");
		console.log(id);
		$(this).html("Zeker weten?")
		$(this).click(function(){
			console.log("/verwijderen?id=" + id);
			$(this).html("Verwijderen")
			window.location.href = "/verwijderen?id=" + id;
		})
	})

	$(".edit").click(function(){
		let id = $(this).data("tikkieid");
		console.log(id);
		window.location.href = "/aanpassen?id=" + id;
	})
	</script>
{% endblock blokken %}