<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="tikkieblok.css">
	<title>tikkieblok</title>
</head>
<body>
  <pre>
<input type="text" id="input" name="0">    hoiik ben matthijs
<input type="text" id="amount" name="1">
<input type="text" id="url" name="2">
</pre>

<script type="text/javascript">
  $("#input").change(function(){
    let val = $("#input").val();
    console.log(val)
    console.log(val.match(/€ ?(\d+[,\.]\d{2}).+\n?.*(https:\/\/[\w\d\.]+.*?.+=[\w\d\-_]+)/))
    let data = val.match(/€ ?(\d+[,\.]\d{2}).+\n?.*(https:\/\/[\w\d\.]+.*?.+=[\w\d\-_]+)/)
    $("#amount").val(data[1])
    $("#url").val(data[2])
}); 
</script>
</body>
</html>
<!-- {%extends "blocks.html"%}
{% block title %}
hoi
{% endblock title %}
{% block mijntikkiesstatus %}
id="current"
{% endblock mijntikkiesstatus %}

{% block blokken%}
<div class="flex-container" id="tikkies">
    {% if tikkies %}
    {% for tikkie in tikkies %}
    <div class="tikkieblok">
      <div class="tikkieinfo">
        <p><strong>Naam: </strong>{{ tikkie.creator }}</p>
        <p><strong>Omschrijving: </strong>{{ tikkie.description }}</p>
        <p><strong>Betaald: </strong>{% for name in tikkie.paid %} {{ name }} {% endfor %}</p>
        <p><strong>Niet Betaald: </strong>{% for name in tikkie.unpaid %} {{ name }} {% endfor %}</p>
        <p><strong>Datum: </strong>{{ tikkie.date }}</p>
        <p><button class="paybutton">Betaal</button>    <button class="paybutton">Ik heb betaald</button></p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="tikkieblok">
      <div class="tikkieinfo">
        <p><strong>Er zijn geen tikkies gevonden.</strong></p>
      </div">
    </div>
    {% endif %}
  </div> -->
<!-- {% endblock blokken %} -->