* {
	font-family: Arial;
/*	margin: 0px;
	padding: 0px;*/

}

.content {
	display: flex;
	flex-direction: row;

}

#side-bar {

	flex: 1;

}

#tikkies {
	flex: 3;
}

.tikkieblok {
	border: solid 3px;
	border-color: #000000;
	background-color: #d3d3d3;
	border-radius: 15px;
	margin: 20px;
	
}

.tikkieinfo {
	margin: 20px;
}

.flex-container {
	align-content: flex-start;
/*	padding: 20px;*/

}

.button {
	padding: 10px;
	margin: 0px;
	border: solid 1px white; 
	border-radius: 5px;
}

.button:active {
	background-color: #d3d3d3;
	border: solid 1px black; 
	border-radius: 15px;
}

hr {
	padding: 0px;
	margin: 0px;
}
